{% extends 'base.html' %}
{% block content %}

<h1>Sign up</h1>
<p>{{ error_message }}</p>

<div class="custom--main">
    <div class="wrapper">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <h1>Signup</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password1" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <input type="submit" class="custom--btn" value="Sign up">
        </form>
    </div>
</div>

{% endblock %}
