{% extends 'base.html' %}
{% block content %}

<div class="custom--main h-screen -mt-20 text-shadow ">
    <div class="wrapper border-4 bg-black bg-opacity-5">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <h1>Sign Up</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required class="text-shadow">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password1" placeholder="Password" required class="text-shadow">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password2" placeholder="Confirm Password" required class="text-shadow">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <p class="text-center font-bold">{{ error_message }}</p><br>
            <input type="submit" class="flex h-12 items-center justify-center rounded-full bg-red-600 font-bold custom--btn -mt-5 border-2 border-white border-opacity-50 shadow-xl" value="CREATE ACCOUNT">
        </form>
    </div>
</div>

{% endblock %}
