{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino Park</title>
    <link rel='icon' href='https://i.imgur.com/KMTbBBx.png' />
    <script defer src="{% static 'js/timer.js' %}"></script>
    <script defer src="{% static 'js/randomBoard.js' %}"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="bg-black bg-opacity-40 custom--header">
      <div class="w-full mx-auto px-4 md:px-6 lg:px-8">
        <nav class="h-16 flex justify-between items-center">
          <div class="flex-shrink-0">
            <a href="/"><h1 class="pt-3 custom--b text-2xl md:text-4xl">Dino Park</h1></a>
          </div>
          <div class="nav-wrapper">
            <ul>
              <li><a class="custom--a font-semibold" href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}
              <li><a class="custom--a font-semibold" href="{% url 'fields_create' %}">Add Park</a></li>
              <li><a class="custom--a font-semibold" href="{% url 'fields_index' %}">All Parks</a></li>
              <li><a class="custom--a font-semibold" href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li><a class="custom--a font-semibold" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="custom--a font-semibold" href="{% url 'login' %}" class="button">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>