{% extends 'base.html' %}
{% block content %}

<style>
    .blue-square {
      background-color: blue;
      width: 150px;
      height: 150px;
      border-radius: 10%;
      margin: auto;
    }
</style>

<div class="container mt-40">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>Project 3</h1>
        <p>This is content in the first column.</p>
      </div>
      <div class="col-4">
        <div class="blue-square"></div>
      </div>
    </div>
</div>


{% endblock %}