@import url('https://fonts.cdnfonts.com/css/so-bad');
@import url('https://fonts.cdnfonts.com/css/lunchtime-doubly-so');

* {
    font-family: 'Lunchtime Doubly So', sans-serif;
    color: white;

}

h1 {
    font-family: 'So Bad', sans-serif;
    
}

body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://i.imgur.com/t8GgaNE.jpeg);
    size: fit;
}

main {
    flex: 1 0 auto;
}

.custom--nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    background: rgba(44, 53, 80, 0.37);
  }

  a {
    text-decoration: none;
    color: white;
  }

  .nav-wrapper li {
    list-style-type: none;
    padding: 0 16px;
    margin-right: 10px;
    font-size: 24px;
  }
  .nav-wrapper ul {
    display: flex;
  }
  
  .nav-wrapper {
    align-items: center;
  }
  
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  background: rgba(0, 0, 0, 0.342);
}

.custom--a {
  text-decoration: none;
  color: white;
}

.heading {
  justify-content: flex-start;
  padding-right: 50px;
  font-size: 36px;
  margin-left: 30px;
}

.custom--a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.custom--a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.custom--a:hover {
    background-position: 0;
}

.custom--a:hover::before{
    width: 100%;
}
  







