{% extends 'base.html' %} 
{% block content %}

<div class="w-2/3 mx-auto flex items-center justify-center -mt-60 custom-height--2">
    <div class="border-solid border-white border-4 border-opacity-80 rounded-xl backdrop-blur-xl shadow-xl p-10 bg-gradient-to-b from-[#84cf44] via-[#78bb3f] to-[#0aad64] px-40 text-shadow mb-10"> 
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-4xl">Park for {{ field.date }}</h1>

            <p>Total focus time: {{ focus_time }} minutes</p>

            <div class="relative mt-16">
                <img src="https://i.imgur.com/mgYSZTd.png" draggable=false id="tree-1">
                <img src="https://i.imgur.com/1Gvez2P.png" draggable=false id="tree-2">
                <img src="https://i.imgur.com/mgYSZTd.png" draggable=false id="tree-3">
                <img src="https://i.imgur.com/SEVRCpX.png" draggable=false id="tree-4"> 
                <img src="https://i.imgur.com/wAXBSAO.png" draggable=false id="tree-5"> 
                <img src="https://i.imgur.com/RlxE7Tz.png" draggable=false id="bush-1"> 
                <img src="https://i.imgur.com/FBj0An4.png" draggable=false id="bush-2"> 
                <img src="https://i.imgur.com/uaRVWLX.png" draggable=false id="bush-3"> 
                <img src="https://i.imgur.com/vAY3lge.png" draggable=false id="rocks-1"> 
                <img src="https://i.imgur.com/Fr4xXQO.png" draggable=false id="rocks-2"> 

                <div class="isometric-cube">
                    <div class="isometric-side-1"></div>
                    <div class="isometric-side-2"></div>
                    <div class="isometric-top" id="isometric">
                        {% for dino in field.get_dinos %}
                            <div class="tile">
                                <a href="{% url 'dinos_detail' dino.id %}">
                                    <img src="{{ dino.url }}" draggable="false" alt="{{ dino.name }}" />
                                    <div class="hidden"> </div>
                                </a>
                            </div>
                        {% endfor %}
        
                        {% for _ in remaining_tiles %}
                            <div class="tile"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            

            {% if current_date|date == field.date|date and field.get_dinos.all|length < 25 %}
                <div class="flex justify-center items-center h-70 border-solid border-4 border-white border-opacity-50 p-10 rounded-xl space-x-10 bg-gradient-to-b from-[#a36f49] to-[#8c6549] drop-shadow-2xl">
                    <div>
                        <div id="countdown" class="font-bold text-7xl">00:00</div>
                        <select id="timer-length" class="bg-transparent backdrop-blur-xl border-2 border-white border-opacity-50 rounded-full w-full text-center my-3 text-shadow">
                            <option value="5">5 seconds (DEMO)</option>
                            <option value="300">5 minutes</option>
                            <option value="600">10 minutes</option>
                            <option value="900">15 minutes</option>
                            <option value="1200">20 minutes</option>
                            <option value="1500">25 minutes</option>
                            <option value="1800">30 minutes</option>
                            <option value="2100">35 minutes</option>
                            <option value="2400">40 minutes</option>
                            <option value="2700">45 minutes</option>
                            <option value="3000">50 minutes</option>
                            <option value="3300">55 minutes</option>
                            <option value="3600">60 minutes</option>
                        </select>
                        <button id="start-timer" class="flex h-12 items-center justify-center mx-auto px-5 rounded-full bg-blue-600 font-bold custom--btn border-2 border-white border-opacity-50 shadow-xl">Start</button>
                        <div class="flex justify-center items-center">
                            <button id="pause-timer" class="flex h-12 items-center justify-center mx-auto px-5 mt-5 rounded-full bg-blue-600 font-bold custom--btn inline-block hidden border-2 border-white border-opacity-50 shadow-xl">Pause</button>
                        <button id="cancel-timer" class="flex h-12 items-center justify-center mx-auto px-5 mt-5 rounded-full bg-red-600 font-bold custom--btn inline-block hidden border-2 border-white border-opacity-50 shadow-xl">Cancel</button>
                        </div>
                        <form action="{% url 'add_dino' field.id %}" method="POST" class="flex flex-col items-center justify-center hidden" id="result">
                            {% csrf_token %}
                            {{ dino_form }}
                            
                            <input type="submit" class="flex h-12 items-center justify-center mt-5 mx-auto px-5 rounded-full bg-yellow-600 font-bold custom--btn border-2 border-white border-opacity-50 shadow-xl" value="Hatch Egg">
                        </form>
                    </div>
                    <div class="">
                        <div class="border-solid border-4 border-white border-opacity-50 p-4 my-10 rounded-full bg-[url('https://i.imgur.com/ai7MsZ6.png')] bg-cover" id="egg">
                            <div class="relative">
                                <img class="absolute top-1 left-0 z-1" draggable=false src="https://i.imgur.com/8Oo6ECG.gif">
                                <img class="z-2" draggable=false src="https://i.imgur.com/A4Qdy25.png">
                            </div>
                        </div>
                    </div>

                </div>
            {% elif current_date|date == field.date|date and field.get_dinos.all|length >= 25 %}
                <div class="flex justify-center items-center h-70 border-solid border-4 border-black border-opacity-50 p-8 rounded-xl space-x-10 bg-gradient-to-b from-[#a36f49] to-[#8c6549] drop-shadow-2xl">
                    <p>Your park is full! Delete some dinos to keep hatching.</p>
                </div>
            {% endif %}
            
            <div class="flex items-center justify-center space-x-10">
                <a class="h-12 items-center justify-center px-5 py-2 mt-10 rounded-full bg-red-600 font-bold text-white mx-auto custom--btn border-2 border-white border-opacity-50" href="{% url 'fields_delete' field.id %}">Delete Park</a>

                <a class="h-12 items-center justify-center px-5 py-2 mt-10 rounded-full bg-yellow-600 font-bold text-white mx-auto custom--btn border-2 border-white border-opacity-50" href="{% url 'fields_index' %}">Return</a>
            </div>
            

        </div>
    </div>
</div>


{% endblock %}
