{% extends 'base.html' %} 
{% block content %}

<div class="w-2/3 mx-auto flex items-center justify-center h-screen -mt-20 custom-height--2">
    <div class="border-solid border-white border-2 border-opacity-20 rounded-xl backdrop-blur-xl shadow-xl p-10 bg-black bg-opacity-5 px-40 text-shadow">
        <div class="flex flex-col justify-center items-center text-center">
            <h1>Board for {{ field.date }}</h1>
            <div class="isometric">

                {% for dino in field.get_dinos %}
                    <div class="tile">
                        <a href="{% url 'dinos_detail' dino.id %}">
                            <img src="{{ dino.url }}" alt="{{ dino.name }}" />
                        </a>
                    </div>
                {% endfor %}

                {% for _ in remaining_tiles %}
                    <div class="tile"></div>
                {% endfor %}
            </div>

            {% if field.get_dinos.all|length < 25 %}
                <div class="flex justify-center items-center h-70 border-solid border-2 border-white border-opacity-50 p-10 rounded-xl space-x-10">
                    <div>
                        <div id="countdown" class="font-bold text-7xl">00:00</div>
                        <select id="timer-length" class="bg-transparent border-2 border-white border-opacity-50 rounded-full w-full text-center my-3 text-shadow">
                            <option value="5">5 seconds (DEMO)</option>
                            <option value="300">5 minutes</option>
                            <option value="600">10 minutes</option>
                            <option value="900">15 minutes</option>
                            <option value="1200">20 minutes</option>
                            <option value="1500">25 minutes</option>
                            <option value="1800">30 minutes</option>
                            <option value="2100">35 minutes</option>
                            <option value="2400">40 minutes</option>
                            <option value="2700">45 minutes</option>
                            <option value="3000">50 minutes</option>
                            <option value="3300">55 minutes</option>
                            <option value="3600">60 minutes</option>
                        </select>
                        <button id="start-timer" class="flex h-12 items-center justify-center mx-auto px-5 rounded-full bg-red-600 font-bold custom--btn">Start</button>
                        <div class="flex justify-center items-center">
                            <button id="pause-timer" class="flex h-12 items-center justify-center mx-auto px-5 mt-5 rounded-full bg-red-600 font-bold custom--btn inline-block hidden">Pause</button>
                        <button id="cancel-timer" class="flex h-12 items-center justify-center mx-auto px-5 mt-5 rounded-full bg-red-600 font-bold custom--btn inline-block hidden">Cancel</button>
                        </div>
                        <form action="{% url 'add_dino' field.id %}" method="POST" class="flex flex-col items-center justify-center hidden" id="result">
                            {% csrf_token %}
                            {{ dino_form }}
                            
                            <input type="submit" class="flex h-12 items-center justify-center mt-5 mx-auto px-5 rounded-full bg-red-600 font-bold custom--btn" value="Hatch Egg">
                        </form>
                    </div>
                    <div class="">
                        <div class="border-solid border-2 border-white border-opacity-50 p-4 my-10 rounded-full" id="egg">
                            <img src="https://i.imgur.com/8Oo6ECG.gif" class="mx-auto"> 
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="flex justify-center items-center h-70 border-solid border-2 border-white border-opacity-50 p-10 rounded-xl space-x-10">
                    <p>Your park is full! Delete some dinos to keep hatching.</p>
                </div>
            {% endif %}

            

        </div>
    </div>
</div>

{% endblock %}
