{% extends 'base.html' %}
{% block content %}

<div class="w-2/3 mx-auto flex items-center justify-center -mt-60 custom-height--2">
    <div class="border-solid border-white border-4 border-opacity-80 rounded-xl backdrop-blur-xl shadow-xl p-10 bg-gradient-to-b from-[#1F8A70] to-[#009954] px-40 text-shadow mb-10">
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-4xl">All Parks</h1>
            <!-- Display today's date -->
            <p>Today's Date: {{  current_date|date }}</p>
            <p><br>View all your parks here. Dinos can only be hatched in<br> parks made today, so get hatching as soon as possible!</p>

            <!-- Check if there are at least 7 parks for the graph -->
            {% if fields.all|length >= 7 %}
                <!-- Container for focus time graph -->
                <div class="border-2 border-white rounded-xl mt-8 px-10 pt-8 pb-4 bg-[#17594A]">
                    <p>Total focus time over past 7 parks (mins)</p>
                    <div id="parks-graph" class="h-40 w-50 my-2"></div>
                </div>

                <!-- JavaScript code for generating the graph -->
                <script>
                    const focusTimes = [
                        {% for item in focus_times %}
                            ['{{ item.0 }}', '{{ item.1 }}'],
                        {% endfor %}
                    ];

                    const trace = {x: [], y: [], type: 'scatter', line: {color: 'rgb(255, 255, 255)', width: 3}};

                    for (let i = 6; i >= 0; i--) {
                        trace.x.push(focusTimes[i][0])
                        trace.y.push(focusTimes[i][1])
                    };
                
                    const data = [trace];
                
                    const layout = {
                        margin: {
                        l: 10, 
                        r: 10, 
                        t: 10,
                        b: 20 
                        },
                        xaxis: {
                        automargin: true,
                        gridcolor: 'rgb(107, 114, 128)',
                        },
                        yaxis: {
                        automargin: true,
                        gridcolor: 'rgb(107, 114, 128)',
                        },
                        font: {
                        color: 'white'
                        },
                        plot_bgcolor: 'rgba(48, 55, 64, 0)',
                        paper_bgcolor: 'rgba(48, 55, 64, 0)'
                    };
                
                    Plotly.newPlot('parks-graph', data, layout, {staticPlot: true});
                </script>
            {% endif %}

        <!-- Container for the table of parks -->
        <div class="rounded-lg mt-10 max-h-96 overflow-y-auto border-2 border-white border-opacity-50">
            <table class="table-auto w-full text-sm text-left text-gray-400">
                <thead class="text-xs text-center text-gray-300 uppercase bg-[#263A29]">
                    <tr>
                        <th class="px-6 py-3">
                            Date
                        </th>
                        <th class="px-6 py-3">
                            Focus Time
                        </th>
                        <th class="px-6 py-3">
                            Park
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each field (park) -->
                    {% for field in fields %}
                        <!-- Display park details in a row -->
                        <tr class="border-b bg-[#41644A] border-gray-700 hover:bg-[#9DC08B]">
                            <th class="px-6 py-4 font-semibold text-white">
                                {{ field.date|date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ field.duration }} mins
                            </td>
                            <td class="px-6 py-4">
                                <a class="h-12 items-center justify-center px-5 py-2 mt-5 rounded-full bg-[#A8DF8E] font-bold text-white mx-auto custom--btn border-2 border-white border-opacity-50 shadow-xl" href="{% url 'fields_detail' field.id %}">Visit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>

{% endblock %}