{% extends 'base.html' %}
{% block content %}
<div class="w-2/3 mx-auto flex items-center justify-center -mt-60 custom-height--2">
    <div class="border-solid border-white border-4 border-opacity-80 rounded-xl backdrop-blur-xl shadow-xl p-10 bg-gradient-to-b from-[#78bb3f] to-[#009954] px-40 text-shadow mb-10">
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-4xl">All Parks</h1>
            <p>Today's Date: {{  current_date|date }}</p>
            <p><br>View all your parks here. Dinos can only be hatched in<br> today's park, so get hatching as soon as possible!</p>

            <div class="rounded-lg mt-10 mb-20 max-h-96 overflow-y-auto border-2 border-white border-opacity-50">
                <table class="table-auto w-full text-sm text-left text-gray-400">
                    <thead class="text-xs text-center text-gray-300 uppercase bg-blue-600">
                        <tr>
                            <th class="px-6 py-3">
                                Date
                            </th>
                            <th class="px-6 py-3">
                                Focus Time
                            </th>
                            <th class="px-6 py-3">
                                Park
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in fields %}
                            <tr class="border-b bg-blue-400 border-gray-700 hover:bg-blue-500">
                            <th class="px-6 py-4 font-semibold text-white">
                                {{ field.date|date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ focus_times.0 }}
                            </td>
                            <td class="px-6 py-4">
                                <a class="h-12 items-center justify-center px-5 py-2 mt-5 rounded-full bg-red-600 font-bold text-white mx-auto custom--btn border-2 border-white border-opacity-50 shadow-xl" href="{% url 'fields_detail' field.id %}">Visit</a>
                            </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}